
.ipynb_checkpoints/Margiotta_Resta_ML_HW-checkpoint.ipynb
.ipynb_checkpoints/Margiotta_Resta_ML_HW-Copy1-checkpoint.ipynb
.ipynb_checkpoints/polynomial_regression-checkpoint.ipynb
.ipynb_checkpoints/polynomial_regression-Copy1-checkpoint.ipynb
.ipynb_checkpoints/REGRESSION-checkpoint.ipynb
.ipynb_checkpoints/Classification-Logistic-regression-checkpoint.ipynb
.ipynb_checkpoints/Regression-filtering-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-checkpoint.ipynb
.idea
.ipynb_checkpoints/Classification-checkpoint.ipynb
.ipynb_checkpoints/Classification-Copy1-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/Regression-no-filtering-Copy1_VALE-checkpoint.ipynb
.ipynb_checkpoints/PER_VALE-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Clustering-checkpoint.ipynb
.ipynb_checkpoints/REGRESSION_MR-checkpoint.ipynb
.ipynb_checkpoints/REGRESSION_MR-checkpoint.ipynb
.ipynb_checkpoints/Classification-Copy2-checkpoint.ipynb
