
.ipynb_checkpoints/Margiotta_Resta_ML_HW-checkpoint.ipynb
.ipynb_checkpoints/Margiotta_Resta_ML_HW-Copy1-checkpoint.ipynb
.ipynb_checkpoints/polynomial_regression-checkpoint.ipynb
.ipynb_checkpoints/polynomial_regression-Copy1-checkpoint.ipynb
.ipynb_checkpoints/REGRESSION-checkpoint.ipynb
